<div>

    <h1>Welcome to myCookbook</h1>
    <div>
        <a href="/recipes/new" class="btn btn-primary">New Recipe</a>
        <a href="/recipes" class="btn btn-primary">Browse Recipes</a>
        {{!-- <a href="/user" class="btn btn-primary">Profile</a> --}}
        <a href="/logout" class="btn btn-danger">Log Out</a>
    </div>
</div>