<div>
<h2>Add a your recipe!</h2>
<form action="/cookbook" method="POST">
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" class="form-control" />
        <label for="cooktime">Cooktime(mins):</label>
        <input type="number" id="cooktime" name="cooktime" class="form-control" />
        <label for="ingredients">Ingredients:</label>
        <input type="text" id="ingredients" name="ingredients" class="form-control" />
        <label for="instructions">Instructions:</label>
        <input type="text" id="instructions" name="instructions" class="form-control" />
        <label for ="vegetarian">Vegetarian</label>
        <input class="form-check-input" type="checkbox" id="vegetarian" name="vegetarian" checked="true" />
        <label for="vegan">Vegan</label>
        <input class="form-check-input" type="checkbox" id="vegan" name="vegan" checked="true" />
    </div>
    <input type="submit" class="btn btn-primary" />
    <a href="/" class="btn btn-secondary">Cancel</a>
</form>
</div>