<div class="page">
<h2 class="title-text">Add a your recipe!</h2>
<form class="recipe-form" onsubmit="return pushIngredients() pushinstructions " action="/recipes/" method="POST">
    <div class="form-group">
        <label for="title" class="sub-title-text">Title:</label>
        <input type="text" id="title" name="title" class="form-control main-text">
        <label for="cooktime" class="sub-title-text">Cooktime(mins):</label>
        <input type="number" id="cooktime" name="cooktime" class="form-control">
       <div>
        <label for="ingredients" class="sub-title-text">Ingredients:</label>
        <input type="button" id="more_ing_fields" onclick="add_ing_fields()" value="Add ingredient">
        <input type="text" id="ingredients" name="ingredients" class="form-control">
        <div id="wrapperIng"></div>
        </div>
        
        
        <div>
        <label for="instructions" class="sub-title-text">Instructions:</label>
        <input type="button" id="more_ins_fields" onclick="add_ins_fields()" value="Add step">
        <input type="text" id="instructions" name="instructions" class="form-control">
        <div class="wrapperIns" ></div>
        </div>
        
        <label for ="vegetarian" class="sub-title-text">Vegetarian</label>
        <input class="form-check-input" type="checkbox" id="vegetarian" name="vegetarian"/>
        <label for="vegan" class="sub-title-text">Vegan</label>
        <input class="form-check-input" type="checkbox" id="vegan" name="vegan"/>
    </div>
    <input type="submit" class="btn btn-primary button-text-main" />
    <a href="/recipes" class="btn btn-secondary button-text">Cancel</a>
</form>
</div>